@import './utils/breakpoints.scss';
@import './utils/fonts.scss';
@import './utils/mixins.scss';
@import './utils/reset.scss';
@import './utils/vars.scss';
// @import './utils/iconmoon.scss';
@import './../../pug/components/components.scss';
@import '../../../node_modules/plyr/src/sass/plyr.scss';

body {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: $color-white;
  background-color: $color-black;
}

.lock {
  overflow: hidden;
}

.owl-carousel .owl-stage-outer {
  overflow: visible!important;
}

.owl-stage {
  display: flex;
}

.owl-item {
  flex-shrink: 0;
  display: flex;
}

.owl-nav {
  display: flex;
  column-gap: 16px;
  margin-top: 56px;
  position: relative;
  z-index: 99;
}

.owl-prev, .owl-next {
  width: 72px;
  height: 72px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #171F29 0%, #11171F 100%)!important;
  border-radius: 32px;
  overflow: hidden;

  
  & span {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    height: 24px;

    &::before {
      content: url('../img/arrow-right.svg');
      height: 100%;
    }
  }
  

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    display: block;
    background-color: #0C1015;
    border-radius: 32px;
  }

  &::after {
    content: '';
    background-image: radial-gradient(84.54% 125.35% at 50% 100%, rgba(48, 119, 255, 0.5) 0%, rgba(48, 119, 255, 0) 100%), linear-gradient(0deg, #0C1015, #0C1015);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity ease-in-out .4s;
    z-index: 1;
    opacity: 0;
  }

  &:hover {

    &::after {
      opacity: 1;
    }
  }

  &:active {

    &::after {
      background-image: radial-gradient(84.54% 125.35% at 50% 100%, rgba(48, 119, 255, 0.35) 0%, rgba(48, 119, 255, 0) 100%), linear-gradient(0deg, #0C1015, #0C1015);
    }
  }
}

.disabled {
  background: #070A0F!important;

  &::before {
    background-color: #070A0F;
    color: #293140;
  }

  &:hover {

    &::after {
      background: #070A0F!important;
      opacity: 0;
    }
  }

  & span {
    &:before {
      content: url('../img/arrow-right-disabled.svg');
    }
  }
}

.owl-prev {
  & span {
    transform: rotate(180deg);
  }
}

// .owl-stage-outer {
//   position: relative;

//   &::before, &::after {
//     content: '';
//     position: absolute;
//     width: 10%;
//     height: 100%;
//     top: 0;
//     background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
//   }

//   &::before {
//     left: -10%;
//     transform: rotate(180deg);
//   }

//   &::after {
//     right: -10%;
//   }
// }

.wrapper {
  max-width: 2560px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 46px;
  line-height: 51px;
}

section {
  padding: 128px 0;
  overflow: hidden;
}

// Heading

.h900, .h750, .h700, .h550, .h500, .h400, .h300, .h250, .h200 {
  font-family: $primary-font;
  font-weight: 700;
  text-transform: uppercase;
}

.h900 {
  font-size: 72px;
  line-height: 80px;
}

.h750 {
  font-size: 56px;
  line-height: 64px;
  text-transform: none;
}

.h700 {
  font-size: 56px;
  line-height: 64px;
}

.h550 {
  font-size: 40px;
  line-height: 48px;
  text-transform: none;
}

.h500 {
  font-size: 40px;
  line-height: 48px;
}

.h400 {
  font-size: 32px;
  line-height: 40px;
}

.h300 {
  font-size: 24px;
  line-height: 32px;
  text-transform: none;
}

.h250 {
  font-size: 20px;
  line-height: 28px;
}

.h200 {
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}

//Paragraph

.p400, .p300, .p200, .p100 {
  font-family: $secondary-font;
  font-weight: 400;
}

.p400 {
  font-size: 20px;
  line-height: 30px;
}

.p300 {
  font-size: 18px;
  line-height: 28px;
}

.p200 {
  font-size: 16px;
  line-height: 24px;
}

.p100 {
  font-size: 14px;
  line-height: 24px;
}

// Caption

.c200 {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
}


.container {
  max-width: 1566px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 86px;
  width: 100%;
  z-index: 9999;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  &__nav-link {
    color: $color-white;
    background: #FFFFFF1F;
    padding: 8px 16px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #FFFFFF33;
    }

    &:active {
      background: #FFFFFF0D;
    }

    &_disabled {
      background: #FFFFFF03;
    }
  }

  &__phone {
    color: $color-white;
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  &__phone-link {
    color: inherit;
  }
}

.welcome {
  height: 1046px;
  padding: 0;
  overflow: hidden;
  position: relative;

  &__overlay {
    display: none;
    position: absolute;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    width: 10%;
    z-index: 99;
    height: 100%;

    &_l {
      top: 0;
      left: 0;
      transform: rotate(180deg);
    }

    &_r {
      top: 0;
      right: 0;
    }
  }

  &__video {
    position: relative;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;

    & video {
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__video-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }

  &__content {
    position: absolute;
    left: 0;
    top: 322px; /* 51.1% */
    z-index: 2;
    width: 100%;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__description {
    max-width: 822px;
  }

  &__buttons {
    display: flex;
    column-gap: 16px;
    margin-bottom: 96px;
  }

  &__partners-list {
    display: grid;
    grid-template-columns: repeat(6, minmax(auto, 216px));
    align-items: center;
    justify-content: space-between;
    row-gap: 16px;
    column-gap: 48px;
  }

  &__partners-item {
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(4) {
      transform: scale(1.1);
    }

    &:nth-child(10) {
      transform: translateY(-15px);
    }

    &:nth-child(11) {
      transform: translate(8px, -6px) scale(1.1);
    }
  }
}

.gallery {

  &__item-list {
    display: grid;
    grid-template-areas: 
      'l l l l'
      'l l l l'
      'l l l l'
      'm1 m1 m2 m2'
      'm1 m1 m2 m2'
      's1 s2 s3 s4';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }

  &__item {
    &:nth-child(1) {
      grid-area: l;
    }

    &:nth-child(2) {
      grid-area: m1;
    }

    &:nth-child(3) {
      grid-area: m2;
    }

    &:nth-child(4) {
      grid-area: s1;
    }

    &:nth-child(5) {
      grid-area: s2;
    }

    &:nth-child(6) {
      grid-area: s3;
    }

    &:nth-child(7) {
      grid-area: s4;
    }
  }
}

.interview {
  display: none;

  &__outline-wrap {
    padding: 1px;
    background: linear-gradient(180deg, #171F29 0%, #11171F 100%);
    border-radius: 32px;
  }
  
  &__wrapper {
    background-color: $color-dark-grey;
    padding: 64px;
    color: $color-white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    border: 1.5px solid;
    border-image-source: linear-gradient(180deg, #171F29 0%, #11171F 100%);
  }

  &__progress-bar {
    margin-bottom: 46px;
  }

  &__progress-item-list {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 16px;
  }

  &__progress-item {
    width: 48px;
    height: 8px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, .2);

    &_active {
      background-color: $color-blue;
    }
  }

  &__progress-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    column-gap: 4px;

    & span {
      width: 16px;
      text-align: center;
    }
  }

  &__question {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
  }

  &__question-list {
    display: flex;
    column-gap: 64px;
  }

  &__question-title {
    margin-bottom: 32px;
  }

  &__answer-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 46px;
    column-gap: 16px;
  }

  &__answer-item {
    height: 180px;
    width: 100%;
    background: linear-gradient(180deg, #364352 0%, #1B2530 100%);
    border-radius: 16px;
    padding: 1px;
    position: relative;

    &:hover {
      background: linear-gradient(180deg, #548FFF 0%, #2965D9 100%);
    }

    &:active {
      background: linear-gradient(180deg, #2267EC 0%, #0A42B1 100%);
    }

    &:has(input[type="radio"]:checked) {
      background: linear-gradient(180deg, #2267EC 0%, #0A42B1 100%);
    }
  
    &:hover .interview__question-icon {
      color: $color-white;
    }

    & label {
      background-color: $color-light-grey;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 16px;
      height: 176px;
      width: 100%;
      cursor: pointer;
      padding: 42px 28px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: $color-blue-hover;
        
        & .interview__answer-icon {
          color: $color-white;
        }
      }

      &:active {
        background-color: $color-blue-active;
  
        & .interview__answer-icon {
          color: $color-white;
        }
      }
    }

    & input[type="radio"], & input[type="checkbox"] {
      display: none;
      &:checked + label {
        background-color: $color-blue-active;
  
        .interview__answer-icon {
          color: $color-white;
        }

        &::after {
          display: flex;
        }
      }

      &:checked + label + .interview__checkbox {
        border: solid 2px red;
      }
    }

  }

  &__answer-text {
    text-align: center;
  }

  &__controls {
    display: flex;
    justify-content: center;
    column-gap: 16px;
  }

  &__button {
    align-self: center;
    width: 160px;
  }

  &__answer-icon {
    color: $color-blue;
    font-size: 40px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  input[type="checkbox"] + label {
    &::before {
      content: '';
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      border: solid 2px $color-white;
      background: transparent;
      position: absolute;
      left: 24px;
      bottom: 24px;
      border-radius: 50%;
    }

    &::after {
      content: '';
      width: 24px;
      height: 24px;
      display: none;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      border: solid 2px $color-white;
      background: $color-white;
      position: absolute;
      left: 24px;
      bottom: 24px;
      border-radius: 50%;
    }
  }

  &__checkbox {
    
    cursor: pointer;

    &:hover + label {
      background: linear-gradient(180deg, #548FFF 0%, #2965D9 100%);
    }
  }
}

.team {

  &__card-list {
    display: grid;
    grid-template-areas:  'a b c d e f'
                          'g h i j j j';
    column-gap: 16px;
    row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  &__card {
    padding: 1px;
    border-radius: 32px;
    background: linear-gradient(180deg, #080A0D 0%, #06080A 100%);
  }

  &__card-content {
    height: 332px;
    border-radius: 32px;
    overflow: hidden;
    position: relative;
    display: flex;
    padding: 16px;
  }

  &__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    align-self: flex-end;
    position: relative;
    z-index: 2;
    color: $color-white;
    width: 100%;
  }

  &__form {
    grid-area: j;
    background: linear-gradient(180deg, #171F29 0%, #11171F 100%);
    border-radius: 32px;
    overflow: hidden;
    padding: 1px;
  }

  &__form-content {
    background-color: $color-dark-grey;
    padding: 32px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__form-item-list {
    display: flex;
    column-gap: 16px;
    flex-grow: 1;
  }

  &__form-item {
    padding: 16px 24px;
    background-color: #161D25;
    border-radius: 16px;
    overflow: hidden;
    color: $color-white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__form-title {
    margin-bottom: 40px;
  }

  &__form-item-subtitle {
    color: rgba(255, 255, 255, .4);
  }

}

.contact {

  &__social-list {
    display: flex;
    column-gap: 16px;
    margin-bottom: 16px;
  }

  &__social-item {
    padding: 24px;
    border-radius: 32px;
    border: 1.5px solid #171F29;;
    display: flex;
    align-items: center;
    column-gap: 16px;
    width: 100%;
    background-color: $color-dark-grey;
    transition: background-image .4s ease-in-out;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      background-image: radial-gradient(84.54% 125.35% at 50% 100%, rgba(48, 119, 255, 0.5) 0%, rgba(48, 119, 255, 0) 100%), linear-gradient(0deg, #0C1015, #0C1015);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: opacity ease-in-out .4s;
      z-index: 1;
      opacity: 0;
    }

    &:hover {
      // background-image: radial-gradient(84.54% 125.35% at 50% 100%, rgba(48, 119, 255, 0.5) 0%, rgba(48, 119, 255, 0) 100%);
      // animation: .4s ease-in-out social-hover forwards ;

      &::before {
        opacity: 1;
      }
    }
    
    & .tg-plane1 {
      fill: #A9C6D8;
    }
  
    & .tg-plane2 {
      fill: #C8DAEA;
    }
  
    & .tg-plane3 {
      fill: #FFFFFF;
    }

    &_insta {
      & .contact__social-icon {
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        box-shadow: 0px 4px 56px 0px #F24D5880;
      }
    }

    &_telegram {
      & .contact__social-icon {
        background: linear-gradient(0deg, #1D93D2 0%, #38B0E3 100%);
        box-shadow: 0px 4px 56px 0px #1D93D280;
      }
    }

    &_vk {
      & .contact__social-icon {
        background: linear-gradient(0deg, #0077FF, #0077FF);
        box-shadow: 0px 4px 56px 0px #0077FF80;
      }
    }

    &_youtube {
      & .contact__social-icon {
        background: linear-gradient(0deg, #FB2B2B, #FB2B2B);
        box-shadow: 0px 4px 56px 0px #FB2B2B80;
      }
    }

    &_disable {
      & .contact__social-icon {
        background: #292C32;
        fill: #3B3E44;
        box-shadow: none;
      }

      & .tg-plane1 {
        fill: #33363C;
      }
    
      & .tg-plane2 {
        fill: #2F3238;
      }
    
      & .tg-plane3 {
        fill: #3B3E44;
      }
    }
  }

  &__social-icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
    flex-shrink: 0;
  }

  &__social-text {
    flex-grow: 1;
    z-index: 2;
  }

  &__social-arrow {
    z-index: 2;
  }

  &__social-link {
    color: $color-grey;
    display: block;
  }

  &__form-wrapper {
    overflow: hidden;
    border-radius: 32px;
    position: relative;
    padding-top: 322px;
    background: rgba(12, 16, 21, 0.2);
  }

  &__form-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.2;
  }

  &__form-content {
    padding: 40px 48px;
    backdrop-filter: blur(5px);
    background: rgba(55, 73, 96, 0.2);
    display: flex;
    align-items: end;
    column-gap: 64px;
  }

  &__form-text {
    max-width: 816px;
    flex-shrink: 0;
  }

  &__text-title {
    width: 100%;
    color: $color-white;
    margin-bottom: 16px;
  }

  &__text-description {
    color: $color-grey;
  }

  &__form {
    display: grid;
    grid-template-areas: 
      'n n'
      'p s';
    column-gap: 16px;
    row-gap: 16px;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 16px;

      & input:nth-child(1) {
        grid-area: n;
      }

      & input:nth-child(2) {
        grid-area: p;
      }

      & input:nth-child(3) {
        grid-area: s;
      }
  }

  &__form-privacy-policy {
    color: $color-grey;
    
    & a {
      color: #4685FF;
    }
  }

  &__input {
    color: #0C1015;
    padding: 16px 20px;
    background-color: $color-white;
    border-radius: 32px;
    border: solid 2px $color-white;

    &:hover {
      border: solid 2px #3077FF;
    }

    &:focus {
      border: solid 2px #115BE9;
    }

    &:disabled {
      background-color: #141B24;
      border-radius: #293140;
      color: #353F52;

      &::placeholder {
        color: #293140;
      }
    }

    &::placeholder {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: #7B8086;
    }
  }
}

.vertical {
  position: relative;

  &__overlay {
    position: absolute;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    width: 10%;
    z-index: 99;
    height: 100%;

    &_l {
      top: 0;
      left: 0;
      transform: rotate(180deg);
    }

    &_r {
      top: 0;
      right: 0;
    }
  }

  &__slider-item {
    width: 100%;
    border-radius: 32px;
    overflow: hidden;
    height: 672px;
  }
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  display: none;
  align-items: center;
  justify-content: center;

  &__wrap {
    max-width: 1280px;
    max-height: 720px;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    overflow: hidden;
  }

  &__content {
    // padding: 32px;
    position: relative;
  }

  &__iframe-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999999;
  }
}

.footer {
  background: linear-gradient(180deg, #171F29 0%, #11171F 100%);
  padding-top: 1px;

  &__wrap {
    background-color: #0C1015;
  }

  &__content {
    padding: 56px 0;
  }
  
  &__top {
    padding: 56px 0;
    border-bottom: solid 1px #364352;
  }

  &__bottom {
    padding-top: 64px;
  }

  &__top-wrap, &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__logo {
    margin-top: 7px;
  }

  &__phone {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  &__phone-link {
    color: $color-white;
  }

  &__privacy-policy {
    color: $color-white;
  }

  &__copyrates {
    color: #7B8086;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  &__nav {
    display: none;
  }

  &__nav-link {
    color: $color-white;
    background: #FFFFFF1F;
    padding: 8px 16px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #FFFFFF33;
    }

    &:active {
      background: #FFFFFF0D;
    }

    &_disabled {
      background: #FFFFFF03;
    }
  }

  &__phone {
    color: $color-white;
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  &__phone-link {
    color: inherit;
  }
}

@keyframes social-hover {
  0% {
    background-image: radial-gradient(84.54% 125.35% at 50% 100%, rgba(48, 119, 255, 0.5) 0%, rgba(48, 119, 255, 0) 100%), linear-gradient(0deg, #0C1015, #0C1015);
  }
  
  100% {
    background-image: radial-gradient(84.54% 125.35% at 50% 100%, rgba(48, 119, 255, 0.5) 0%, rgba(48, 119, 255, 0) 100%), linear-gradient(0deg, #0C1015, #0C1015);
  }
}

@media screen and (min-width: 2561px) {
  .welcome {

    &__overlay {
      display: block;
    }
  }

  .vertical {

    &__overlay {
      width: 25%;
    }
  }

  .section-title {
    position: relative;
    z-index: 99;
  }
}

@media screen and (max-width: 1600px) {
  .container {
    max-width: 1470px;
  }

  .h900 {
    font-size: 64px;
    line-height: 72px;
  }

  .p400 {
    font-size: 18px;
    line-height: 28px;
  }

  .vertical {
    &__overlay {
      width: 5%;
    }
  }
}

@media screen and (max-width: 1440px) {
  .vertical {
    &__overlay {
      width: 2%;
    }
  }
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1150px;
  }

  .section-title {
    margin-bottom: 48px;
  }

  .h900 {
    font-size: 48px;
    line-height: 56px;
  }

  .h750 {
    font-size: 48px;
    line-height: 56px;
  }

  .h700 {
    font-size: 48px;
    line-height: 56px;
  }

  .p400 {
    font-size: 16px;
    line-height: 24px;
  }

  .p300 {
    font-size: 16px;
    line-height: 24px;
  }

  .contact {

    &__form-text {
      max-width: 614px;
    }

    &__form {
      grid-template-columns: minmax(100px, 1fr) min-content;
    }

    &__form-content {
      column-gap: 48px;
    }
  }
}

@media screen and (max-width: 360px) {
  section {
    padding: 48px 0;
  }

  .h900 {
    font-size: 40px;
    line-height: 48px;
  }

  .h750 {
    font-size: 24px;
    line-height: 28px;
  }

  .h700 {
    font-size: 24px;
    line-height: 32px;
  }

  .h300 {
    font-size: 16px;
    line-height: 24px;
  }

  .h200 {
    font-size: 14px;
    line-height: 20px;
  }

  .p400 {
    font-size: 16px;
    line-height: 24px;
  }

  .p300 {
    font-size: 14px;
    line-height: 20px;
  }

  .p100 {
    font-size: 12px;
    line-height: 16px;
  }

  .owl-nav {
    margin-top: 48px;
  }

  .owl-prev, .owl-next {
    width: 56px;
    height: 56px;
  }

  .button {
    text-align: center;
  }

  .header {

    &__logo {
      width: 98px;
    }

    &__nav {
      display: none;
    }

    &__content {
      padding: 16px 0;
    }
  }


  .welcome {
    display: flex;
    flex-direction: column-reverse;
    height: auto;

    &__content {
      position: relative;
      top: 0;
    }

    &__partners-list {
      grid-template-columns: repeat(2, minmax(auto, 216px));
    }

    &__buttons {
      flex-direction: column;
      row-gap: 16px;
    }
  }

  .gallery {

    &__item-list {
      display: flex;
      flex-direction: column;
    }
  }

  .vertical {
    
    &__slider-item {
      height: 408px;
    }

    &__overlay {
      width: 5%;
    }
  }

  .contact {

    &__social-list {
      flex-direction: column;
      row-gap: 16px;
    }

    &__form-content {
      flex-direction: column;
    }

    &__form {
      display: flex;
      flex-direction: column;
    }

    &__text-description {
      margin-bottom: 32px;
    }

    &__form-content {
      padding: 24px;
    }

    &__form-wrapper {
      padding-top: 236px;
    }

    &__form-bg {
      top: -205px;
      height: 563px;
    }
  }

  .footer {

    &__logo {
      width: 98px;
    }

    &__content {
      padding: 56px 0;
    }

    &__top {
      padding: 0 0 48px 0;
    }

    &__bottom {
      flex-direction: column;
      row-gap: 16px;
      justify-content: center;
      text-align: center;
      padding-top: 48px;
    }

    &__privacy-policy {
      width: 100%;
    }

    &__copyrates {
      width: 100%;
    }

    &__nav {
      display: flex;
      justify-content: center;
      margin-top: 32px;
    }
  }
}
