.section-title {
    margin-bottom: 48px;
    max-width: 792px;

    &__title {
        color: $color-white;
        margin-bottom: 8px;
    }

    &__description {
        color: $color-grey;
    }
}