//Font
$primary-font: TildaSans, sans-serif;
$secondary-font: Manrope, sans-serif;

//Colors
$color-white: #FFF;
$color-black: #000;
$color-blue: #115BE9;
$color-blue-hover: #3077FF;
$color-blue-active: #0C4ECF;
$color-dark-grey: #0C1015;
$color-light-grey: #243140;
$color-grey: #CACACA;

//Size

$containerWidth: 1440px;

//Breakpoints

$grid-breakpoints: (
   xs: 0,
   sm: 576px,
   md: 768px,
   lg: 992px,
   xl: 1200px,
   xxl: 1400px,
);
