include ../../libs/_libs

mixin gallery-item(title, description, link)
    .gallery-item
        +image('gallery1.png', 'gallery-item__preview')
        .gallery-item__content
            a.gallery-item__text
                p.gallery-item__description=description
                h3.gallery-item__title=title
            a.gallery-item__playbtn
                span.icon-play
                
